<ion-view title="Details" id="page3" class=" ">
    
    <ion-content padding="true" class="has-header">
        <ion-list id="details-list5" class=" ">
            <ion-item class="item-avatar  " id="details-list-item14">
                <img src="img/socar_logo.svg">
                <h2><span id="status"></span><br><b id="status_desc"></b></h2>
            </ion-item>
        </ion-list>
        <ion-list id="details-list6" class=" ">
            <ion-item class="item-avatar  " id="details-list-item14">
                <img src="img/status-DEPARTED.svg" style="top: 32px;">
                <h2><span id="vessel_label"></span><br><b id="vessel_desc"></b><br><h2><span id="bllabel"></span><br><strong id="bl"></strong></h2><br><span id="depart"></span><span id="departure_date"></span><br><span id="arrival"></span><span id="arrival_date"></span></h2>
            </ion-item>
        </ion-list>
        <ion-list id="details-list7" class=" ">
            <ion-item class="item-avatar  " id="details-list-item14">
                <img id="podflag" src="img/flag_DAKAR.png" >
                <h2><span id="consignee"></span><br><b><span id="pod"></span></b></h2>
            </ion-item>
        </ion-list>
        <ion-list id="details-list8" class=" ">
            <ion-item class="item-avatar  " id="details-list-item13">
                <h2><strong id="goods_desc"></strong></h2><br>Chassis:<br>
                <strong id="vin"></strong>
            </ion-item>
        </ion-list>
        <ion-list id="details-agent" class=" ">
            <a id="clicktocall" href="#" style="text-decoration: none">
            <ion-item class="item-avatar  " id="details-list-item13" style="background-color: #43b51f;
    color: #fff;border-radius: 50px;">
                <img src="img/phone.png" style="top: 30px;">
                <h2 style="color: #fff;">AGENT <strong id="agent"></strong></h2><br>
                <span id="labelcall"></span><b id="agent_phone"></b>
            </ion-item>
            </a>
            <a class="tab-item" id="sharebtn">
                <i class="icon ion-share"></i>
            </a>
        </ion-list>
    </ion-content>
</ion-view>