<ion-view title="EN ATTENTE DE CHARGEMENT" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <p id="eNATTENTEDECHARGEMENT-markdown14" style="color:#000000;" class=" ">DESTINATION
            <strong>DAKAR</strong>
        </p>
        <ion-list id="eNATTENTEDECHARGEMENT-list7" class=" ">
            <ion-item class="item-avatar  " id="eNATTENTEDECHARGEMENT-list-item16">
                <h2>NIKOLAS JOAO</h2>
                <p>TEL 00024658566686855</p>
            </ion-item>
        </ion-list>
        <p id="eNATTENTEDECHARGEMENT-markdown15" style="color:#000000;" class=" ">GOODS
            <strong>TOYOTA COROLLA</strong>
        </p>
        <p id="eNATTENTEDECHARGEMENT-markdown16" style="color:#000000;" class=" ">NUMBERS
            <strong>JT1EA34930493094</strong>
        </p>
        <p id="eNATTENTEDECHARGEMENT-markdown18" style="color:#000000;" class=" ">REF SOCAR
            <strong>16K545454</strong>
        </p>
        <p id="eNATTENTEDECHARGEMENT-markdown21" style="color:#000000;" class=" ">LIVRAISON PORT
            <strong>2016-07-09</strong>
        </p>
        <p id="eNATTENTEDECHARGEMENT-markdown11" style="color:#000000;" class=" ">BATEAU PREVU
            <strong>GRAND ARGENTINA</strong>
        </p>
        <p id="eNATTENTEDECHARGEMENT-markdown12" style="color:#000000;" class=" ">DEPART
            <strong>2016-01-15</strong>
        </p>
    </ion-content>
</ion-view>