<ion-view title="Internet offline" id="interneterror" class=" " hide-nav-bar="true" hide-back-button="true" style="background-color:#387EF5; color:#fff;">
    <ion-content padding="true" style="background: url(img/socar_internetconnection_v_v2.svg) no-repeat center;background-size:cover;" >
        <div class="row row-center">
            <div class="col">
                <div class="text-center">
                    
                    <h2 style="text-align: center;color:#fff" id="labelinterneterror" class="regtext">Please check your internet connection</h2>
                </div>
            </div>
        </div>        
    </ion-content>
    <ion-footer-bar style="background-color:#387EF5; color:#fff; height:80px">
        <button ui-sref="page" style="border-radius:10px 10px 10px 10px;" class="button button-light button-large button-block button-outline icon-right ion-chevron-right" id="labelback"></button>
    </ion-footer-bar>
</ion-view>