<ion-view title="" hide-nav-bar="true" id="page7" class=" ">
    <ion-content padding="false" class="manual-ios-statusbar-padding" scroll="false">
        <a ui-sref="page" id="page7-button4" style="color:#000000;" class=" button button-energized  button-block icon-left ion-arrow-left-c ">OK</a>
        <div class="">
            <a style="display:block;position:absolute;left: 0;right: 0;margin:0 auto;top:50%;transform:translateY(-50%);text-decoration: none" ui-sref="page">
                <img src="img/Not_found1.svg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            <br>
            <h1 id="noresults" style="color:#666666;text-align:center;" class=" "></h1>
            </a>
        </div>
    </ion-content>
</ion-view>