<ion-view title="Registration" id="registration1" class=" " hide-nav-bar="true" hide-back-button="true" style="background-color:#e45d4e; color:#000;">
    <ion-content padding="true">
        <div class="row row-center">
            <div class="col">
                <div class="text-center">
                    <img src="img/error.svg" width="80%"></div>
                    <h2 style="text-align: center;color:#fff" id="labelErrReg1" class="regtext" style="color:#000;"> </h2><br><span style="text-align: center;color:#fff"  class="regtext" id="mobile_phone"></span>
                </div>
            </div>
        </div>        
    </ion-content>
    <ion-footer-bar style="background-color:#e45d4e; color:#fff; height:80px">
        <button ui-sref="registration2" style="border-radius:10px 10px 10px 10px;" class="button button-light button-large button-block button-outline icon-left ion-chevron-left" id="labelback"></button>
    </ion-footer-bar>
</ion-view>