<ion-view title="Registration" id="registration1" class=" " hide-nav-bar="true" hide-back-button="true" style="background-color:#387EF5; color:#fff;">
    <ion-content padding="true">
        <div class="row row-center">
            <div class="col">
                <div class="text-center">
                    <img src="img/Clock.png" width="50%"></div>
                    <h2 style="text-align: center;color:#fff" id="labelReg1" class="regtext">This will take only 10 seconds</h2>
                </div>
            </div>
        </div>        
    </ion-content>
    <ion-footer-bar style="background-color:#387EF5; color:#fff; height:80px">
        <button ui-sref="registration2" style="border-radius:10px 10px 10px 10px;" class="button button-light button-large button-block button-outline icon-right ion-chevron-right" id="labelnext2"></button>
    </ion-footer-bar>
</ion-view>