<ion-view title="Registration" id="registration7" class=" " hide-nav-bar="true" hide-back-button="true" style="background-color:#387EF5; color:#fff;">
    <ion-content padding="true">
        <div class="row row-center">
            <div class="col">
                <div class="text-center">
                    <img src="img/email.png" width="50%"><br><br>
                    <label class="item item-input reginput" style="rgba(255, 255, 255, 0);padding: 0 0 0 0 !important;height:60px">
                        <input id="email" type="email" placeholder="e-mail" class="reginput" ng-model="emailinput" ng-change="onEmailChange()">
                    </label>
                    <h2 style="text-align: center;color:#fff" id="labelReg7" class="regtext"></h2>
                 </div>
            </div>
        </div>        
    </ion-content>
    <ion-footer-bar style="background-color:#387EF5; color:#fff; height:80px">
        <button ng-click="onReg7()" style="border-radius:10px 10px 10px 10px;" class="button button-light button-large button-block button-outline icon-right ion-chevron-right" id="labelnext7"></button>
    </ion-footer-bar>
</ion-view>