<ion-view title="Registration" id="registration2" class=" " hide-nav-bar="true" hide-back-button="true" style="background-color:#387EF5; color:#fff;">
    <ion-content padding="true">
        <div class="row row-center">
            <div class="col">
                <div class="text-center">
                    <img src="img/smartphone-icon-donordrive.png" width="50%"><br>
                        <label class="item item-select" style="background: #387ef5;color:#fff">
                            <span class="input-label" style="background: #387ef5;color:#fff" id="label_countrycode"></span>
                                <select style="background: #387ef5;color:#fff" id="countrycode">
                                        <option value='7940' data-iso_code='AB' data-country_name='Abkhazia' data-country_code='7940'>Abkhazia(+7940)</option>
										<option value='7840' data-iso_code='AB' data-country_name='Abkhazia' data-country_code='7840'>Abkhazia(+7840)</option>
										<option value='93' data-iso_code='AF' data-country_name='Afghanistan' data-country_code='93'>Afghanistan(+93)</option>
										<option value='355' data-iso_code='AL' data-country_name='Albania' data-country_code='355'>Albania(+355)</option>
										<option value='213' data-iso_code='DZ' data-country_name='Algeria' data-country_code='213'>Algeria(+213)</option>
										<option value='1684' data-iso_code='AS' data-country_name='American Samoa' data-country_code='1684'>American Samoa(+1684)</option>
										<option value='376' data-iso_code='AD' data-country_name='Andorra' data-country_code='376'>Andorra(+376)</option>
										<option value='244' data-iso_code='AO' data-country_name='Angola' data-country_code='244'>Angola(+244)</option>
										<option value='1268717' data-iso_code='AI' data-country_name='Anguilla' data-country_code='1268717'>Anguilla(+1268717)</option>
										<option value='1264' data-iso_code='AI' data-country_name='Anguilla' data-country_code='1264'>Anguilla(+1264)</option>
										<option value='6721' data-iso_code='AQ' data-country_name='Antarctica' data-country_code='6721'>Antarctica(+6721)</option>
										<option value='1268' data-iso_code='AG' data-country_name='Antigua and Barbuda' data-country_code='1268'>Antigua and Barbuda(+1268)</option>
										<option value='54' data-iso_code='AR' data-country_name='Argentina' data-country_code='54'>Argentina(+54)</option>
										<option value='374' data-iso_code='AM' data-country_name='Armenia' data-country_code='374'>Armenia(+374)</option>
										<option value='297' data-iso_code='AW' data-country_name='Aruba' data-country_code='297'>Aruba(+297)</option>
										<option value='247' data-iso_code='AC' data-country_name='Ascension Island' data-country_code='247'>Ascension Island(+247)</option>
										<option value='61' data-iso_code='AU' data-country_name='Australia' data-country_code='61'>Australia(+61)</option>
										<option value='43' data-iso_code='AT' data-country_name='Austria' data-country_code='43'>Austria(+43)</option>
										<option value='994' data-iso_code='AZ' data-country_name='Azerbaijan' data-country_code='994'>Azerbaijan(+994)</option>
										<option value='1242' data-iso_code='BS' data-country_name='Bahamas' data-country_code='1242'>Bahamas(+1242)</option>
										<option value='973' data-iso_code='BH' data-country_name='Bahrain' data-country_code='973'>Bahrain(+973)</option>
										<option value='880' data-iso_code='BD' data-country_name='Bangladesh' data-country_code='880'>Bangladesh(+880)</option>
										<option value='1246' data-iso_code='BB' data-country_name='Barbados' data-country_code='1246'>Barbados(+1246)</option>
										<option value='375' data-iso_code='BY' data-country_name='Belarus' data-country_code='375'>Belarus(+375)</option>
										<option value='32' data-iso_code='BE' data-country_name='Belgium' data-country_code='32'>Belgium(+32)</option>
										<option value='501' data-iso_code='BZ' data-country_name='Belize' data-country_code='501'>Belize(+501)</option>
										<option value='229' data-iso_code='BJ' data-country_name='Benin' data-country_code='229'>Benin(+229)</option>
										<option value='1441' data-iso_code='BM' data-country_name='Bermuda' data-country_code='1441'>Bermuda(+1441)</option>
										<option value='975' data-iso_code='BT' data-country_name='Bhutan' data-country_code='975'>Bhutan(+975)</option>
										<option value='591' data-iso_code='BO' data-country_name='Bolivia' data-country_code='591'>Bolivia(+591)</option>
										<option value='387' data-iso_code='BA' data-country_name='Bosnia and Herzegovina' data-country_code='387'>Bosnia and Herzegovina(+387)</option>
										<option value='267' data-iso_code='BW' data-country_name='Botswana' data-country_code='267'>Botswana(+267)</option>
										<option value='55' data-iso_code='BR' data-country_name='Brazil' data-country_code='55'>Brazil(+55)</option>
										<option value='1284' data-iso_code='VG' data-country_name='British Virgin Islands' data-country_code='1284'>British Virgin Islands(+1284)</option>
										<option value='673' data-iso_code='BN' data-country_name='Brunei' data-country_code='673'>Brunei(+673)</option>
										<option value='359' data-iso_code='BG' data-country_name='Bulgaria' data-country_code='359'>Bulgaria(+359)</option>
										<option value='226' data-iso_code='BF' data-country_name='Burkina Faso' data-country_code='226'>Burkina Faso(+226)</option>
										<option value='257' data-iso_code='BI' data-country_name='Burundi' data-country_code='257'>Burundi(+257)</option>
										<option value='855' data-iso_code='KH' data-country_name='Cambodia' data-country_code='855'>Cambodia(+855)</option>
										<option value='237' data-iso_code='CM' data-country_name='Cameroon' data-country_code='237'>Cameroon(+237)</option>
										<option value='1' data-iso_code='CA' data-country_name='Canada' data-country_code='1'>Canada (1)</option>																																							<option value='238' data-iso_code='CV' data-country_name='Cape Verde' data-country_code='238'>Cape Verde(+238)</option>
										<option value='1345' data-iso_code='KY' data-country_name='Cayman Islands' data-country_code='1345'>Cayman Islands(+1345)</option>
										<option value='236' data-iso_code='CF' data-country_name='Central African Republic' data-country_code='236'>Central African Republic(+236)</option>
										<option value='235' data-iso_code='TD' data-country_name='Chad' data-country_code='235'>Chad(+235)</option>
										<option value='56' data-iso_code='CL' data-country_name='Chile' data-country_code='56'>Chile(+56)</option>
										<option value='86' data-iso_code='CN' data-country_name='China' data-country_code='86'>China(+86)</option>
										<option value='61891007' data-iso_code='CX' data-country_name='Christmas Island' data-country_code='61891007'>Christmas Island(+61891007)</option>
										<option value='61891006' data-iso_code='CX' data-country_name='Christmas Island' data-country_code='61891006'>Christmas Island(+61891006)</option>
										<option value='6189164' data-iso_code='CX' data-country_name='Christmas Island' data-country_code='6189164'>Christmas Island(+6189164)</option>
										<option value='61891008' data-iso_code='CX' data-country_name='Christmas Island' data-country_code='61891008'>Christmas Island(+61891008)</option>
										<option value='61891011' data-iso_code='CC' data-country_name='Cocos Islands' data-country_code='61891011'>Cocos Islands(+61891011)</option>
										<option value='61891010' data-iso_code='CC' data-country_name='Cocos Islands' data-country_code='61891010'>Cocos Islands(+61891010)</option>
										<option value='6189162' data-iso_code='CC' data-country_name='Cocos Islands' data-country_code='6189162'>Cocos Islands(+6189162)</option>
										<option value='61891012' data-iso_code='CC' data-country_name='Cocos Islands' data-country_code='61891012'>Cocos Islands(+61891012)</option>
										<option value='57' data-iso_code='CO' data-country_name='Colombia' data-country_code='57'>Colombia(+57)</option>
										<option value='269' data-iso_code='KM' data-country_name='Comoros' data-country_code='269'>Comoros(+269)</option>
										<option value='242' data-iso_code='CG' data-country_name='Congo' data-country_code='242'>Congo(+242)</option>
										<option value='682' data-iso_code='CK' data-country_name='Cook Islands' data-country_code='682'>Cook Islands(+682)</option>
										<option value='506' data-iso_code='CR' data-country_name='Costa Rica' data-country_code='506'>Costa Rica(+506)</option>
										<option value='385' data-iso_code='HR' data-country_name='Croatia' data-country_code='385'>Croatia(+385)</option>
										<option value='53' data-iso_code='CU' data-country_name='Cuba' data-country_code='53'>Cuba(+53)</option>
										<option value='5999' data-iso_code='CW' data-country_name='Curacao' data-country_code='5999'>Curacao(+5999)</option>
										<option value='357' data-iso_code='CY' data-country_name='Cyprus' data-country_code='357'>Cyprus(+357)</option>
										<option value='420' data-iso_code='CZ' data-country_name='Czech Republic' data-country_code='420'>Czech Republic(+420)</option>
										<option value='243' data-iso_code='CD' data-country_name='Democratic Republic of Congo' data-country_code='243'>Democratic Republic of Congo(+243)</option>
										<option value='45' data-iso_code='DK' data-country_name='Denmark' data-country_code='45'>Denmark(+45)</option>
										<option value='246' data-iso_code='DG' data-country_name='Diego Garcia' data-country_code='246'>Diego Garcia(+246)</option>
										<option value='253' data-iso_code='DJ' data-country_name='Djibouti' data-country_code='253'>Djibouti(+253)</option>
										<option value='1767' data-iso_code='DM' data-country_name='Dominica' data-country_code='1767'>Dominica(+1767)</option>
										<option value='1809' data-iso_code='DO' data-country_name='Dominican Republic' data-country_code='1809'>Dominican Republic(+1809)</option>
										<option value='1849' data-iso_code='DO' data-country_name='Dominican Republic' data-country_code='1849'>Dominican Republic(+1849)</option>
										<option value='1829' data-iso_code='DO' data-country_name='Dominican Republic' data-country_code='1829'>Dominican Republic(+1829)</option>
										<option value='670' data-iso_code='TL' data-country_name='East Timor' data-country_code='670'>East Timor(+670)</option>
										<option value='593' data-iso_code='EC' data-country_name='Ecuador' data-country_code='593'>Ecuador(+593)</option>
										<option value='20' data-iso_code='EG' data-country_name='Egypt' data-country_code='20'>Egypt(+20)</option>
										<option value='503' data-iso_code='SV' data-country_name='El Salvador' data-country_code='503'>El Salvador(+503)</option>
										<option value='240' data-iso_code='GQ' data-country_name='Equatorial Guinea' data-country_code='240'>Equatorial Guinea(+240)</option>
										<option value='291' data-iso_code='ER' data-country_name='Eritrea' data-country_code='291'>Eritrea(+291)</option>
										<option value='372' data-iso_code='EE' data-country_name='Estonia' data-country_code='372'>Estonia(+372)</option>
										<option value='251' data-iso_code='ET' data-country_name='Ethiopia' data-country_code='251'>Ethiopia(+251)</option>
										<option value='500' data-iso_code='FK' data-country_name='Falkland Islands' data-country_code='500'>Falkland Islands(+500)</option>
										<option value='298' data-iso_code='FO' data-country_name='Faroe Islands' data-country_code='298'>Faroe Islands(+298)</option>
										<option value='679' data-iso_code='FJ' data-country_name='Fiji' data-country_code='679'>Fiji(+679)</option>
										<option value='358' data-iso_code='FI' data-country_name='Finland' data-country_code='358'>Finland(+358)</option>
										<option value='33' data-iso_code='FR' data-country_name='France' data-country_code='33'>France(+33)</option>
										<option value='594' data-iso_code='GF' data-country_name='French Guiana' data-country_code='594'>French Guiana(+594)</option>
										<option value='689' data-iso_code='PF' data-country_name='French Polynesia' data-country_code='689'>French Polynesia(+689)</option>
										<option value='241' data-iso_code='GA' data-country_name='Gabon' data-country_code='241'>Gabon(+241)</option>
										<option value='220' data-iso_code='GM' data-country_name='Gambia' data-country_code='220'>Gambia(+220)</option>
										<option value='995' data-iso_code='GE' data-country_name='Georgia' data-country_code='995'>Georgia(+995)</option>
										<option value='49' data-iso_code='DE' data-country_name='Germany' data-country_code='49'>Germany(+49)</option>
										<option value='233' data-iso_code='GH' data-country_name='Ghana' data-country_code='233'>Ghana(+233)</option>
										<option value='350' data-iso_code='GI' data-country_name='Gibraltar' data-country_code='350'>Gibraltar(+350)</option>
										<option value='30' data-iso_code='GR' data-country_name='Greece' data-country_code='30'>Greece(+30)</option>
										<option value='299' data-iso_code='GL' data-country_name='Greenland' data-country_code='299'>Greenland(+299)</option>
										<option value='1473' data-iso_code='GD' data-country_name='Grenada' data-country_code='1473'>Grenada(+1473)</option>
										<option value='590' data-iso_code='GP' data-country_name='Guadeloupe' data-country_code='590'>Guadeloupe(+590)</option>
										<option value='1671' data-iso_code='GU' data-country_name='Guam' data-country_code='1671'>Guam(+1671)</option>
										<option value='502' data-iso_code='GT' data-country_name='Guatemala' data-country_code='502'>Guatemala(+502)</option>
										<option value='224' data-iso_code='GN' data-country_name='Guinea' data-country_code='224'>Guinea(+224)</option>
										<option value='245' data-iso_code='GW' data-country_name='Guinea-bissau' data-country_code='245'>Guinea-bissau(+245)</option>
										<option value='592' data-iso_code='GY' data-country_name='Guyana' data-country_code='592'>Guyana(+592)</option>
										<option value='509' data-iso_code='HT' data-country_name='Haiti' data-country_code='509'>Haiti(+509)</option>
										<option value='504' data-iso_code='HN' data-country_name='Honduras' data-country_code='504'>Honduras(+504)</option>
										<option value='852' data-iso_code='HK' data-country_name='Hong Kong' data-country_code='852'>Hong Kong(+852)</option>
										<option value='36' data-iso_code='HU' data-country_name='Hungary' data-country_code='36'>Hungary(+36)</option>
										<option value='354' data-iso_code='IS' data-country_name='Iceland' data-country_code='354'>Iceland(+354)</option>
										<option value='91' data-iso_code='IN' data-country_name='India' data-country_code='91'>India(+91)</option>
										<option value='62' data-iso_code='ID' data-country_name='Indonesia' data-country_code='62'>Indonesia(+62)</option>
										<option value='98' data-iso_code='IR' data-country_name='Iran' data-country_code='98'>Iran(+98)</option>
										<option value='964' data-iso_code='IQ' data-country_name='Iraq' data-country_code='964'>Iraq(+964)</option>
										<option value='353' data-iso_code='IE' data-country_name='Ireland' data-country_code='353'>Ireland(+353)</option>
										<option value='972' data-iso_code='IL' data-country_name='Israel' data-country_code='972'>Israel(+972)</option>
										<option value='39' data-iso_code='IT' data-country_name='Italy' data-country_code='39'>Italy(+39)</option>
										<option value='225' data-iso_code='CI' data-country_name='Ivory Coast' data-country_code='225'>Ivory Coast(+225)</option>
										<option value='1876' data-iso_code='JM' data-country_name='Jamaica' data-country_code='1876'>Jamaica(+1876)</option>
										<option value='81' data-iso_code='JP' data-country_name='Japan' data-country_code='81'>Japan(+81)</option>
										<option value='962' data-iso_code='JO' data-country_name='Jordan' data-country_code='962'>Jordan(+962)</option>
										<option value='7702' data-iso_code='KZ' data-country_name='Kazakhstan' data-country_code='7702'>Kazakhstan(+7702)</option>
										<option value='7788' data-iso_code='KZ' data-country_name='Kazakhstan' data-country_code='7788'>Kazakhstan(+7788)</option>
										<option value='7707' data-iso_code='KZ' data-country_name='Kazakhstan' data-country_code='7707'>Kazakhstan(+7707)</option>
										<option value='7705' data-iso_code='KZ' data-country_name='Kazakhstan' data-country_code='7705'>Kazakhstan(+7705)</option>
										<option value='772' data-iso_code='KZ' data-country_name='Kazakhstan' data-country_code='772'>Kazakhstan(+772)</option>
										<option value='7701' data-iso_code='KZ' data-country_name='Kazakhstan' data-country_code='7701'>Kazakhstan(+7701)</option>
										<option value='7776' data-iso_code='KZ' data-country_name='Kazakhstan' data-country_code='7776'>Kazakhstan(+7776)</option>
										<option value='7700' data-iso_code='KZ' data-country_name='Kazakhstan' data-country_code='7700'>Kazakhstan(+7700)</option>
										<option value='7778' data-iso_code='KZ' data-country_name='Kazakhstan' data-country_code='7778'>Kazakhstan(+7778)</option>
										<option value='771' data-iso_code='KZ' data-country_name='Kazakhstan' data-country_code='771'>Kazakhstan(+771)</option>
										<option value='7708' data-iso_code='KZ' data-country_name='Kazakhstan' data-country_code='7708'>Kazakhstan(+7708)</option>
										<option value='7771' data-iso_code='KZ' data-country_name='Kazakhstan' data-country_code='7771'>Kazakhstan(+7771)</option>
										<option value='7775' data-iso_code='KZ' data-country_name='Kazakhstan' data-country_code='7775'>Kazakhstan(+7775)</option>
										<option value='7785' data-iso_code='KZ' data-country_name='Kazakhstan' data-country_code='7785'>Kazakhstan(+7785)</option>
										<option value='7747' data-iso_code='KZ' data-country_name='Kazakhstan' data-country_code='7747'>Kazakhstan(+7747)</option>
										<option value='7777' data-iso_code='KZ' data-country_name='Kazakhstan' data-country_code='7777'>Kazakhstan(+7777)</option>
										<option value='776' data-iso_code='KZ' data-country_name='Kazakhstan' data-country_code='776'>Kazakhstan(+776)</option>
										<option value='254' data-iso_code='KE' data-country_name='Kenya' data-country_code='254'>Kenya(+254)</option>
										<option value='686' data-iso_code='KI' data-country_name='Kiribati' data-country_code='686'>Kiribati(+686)</option>
										<option value='37744' data-iso_code='KV' data-country_name='Kosovo' data-country_code='37744'>Kosovo(+37744)</option>
										<option value='38643' data-iso_code='KV' data-country_name='Kosovo' data-country_code='38643'>Kosovo(+38643)</option>
										<option value='38129' data-iso_code='KV' data-country_name='Kosovo' data-country_code='38129'>Kosovo(+38129)</option>
										<option value='38649' data-iso_code='KV' data-country_name='Kosovo' data-country_code='38649'>Kosovo(+38649)</option>
										<option value='38128' data-iso_code='KV' data-country_name='Kosovo' data-country_code='38128'>Kosovo(+38128)</option>
										<option value='38139' data-iso_code='KV' data-country_name='Kosovo' data-country_code='38139'>Kosovo(+38139)</option>
										<option value='37745' data-iso_code='KV' data-country_name='Kosovo' data-country_code='37745'>Kosovo(+37745)</option>
										<option value='38138' data-iso_code='KV' data-country_name='Kosovo' data-country_code='38138'>Kosovo(+38138)</option>
										<option value='965' data-iso_code='KW' data-country_name='Kuwait' data-country_code='965'>Kuwait(+965)</option>
										<option value='996' data-iso_code='KG' data-country_name='Kyrgyzstan' data-country_code='996'>Kyrgyzstan(+996)</option>
										<option value='856' data-iso_code='LA' data-country_name='Laos' data-country_code='856'>Laos(+856)</option>
										<option value='371' data-iso_code='LV' data-country_name='Latvia' data-country_code='371'>Latvia(+371)</option>
										<option value='961' data-iso_code='LB' data-country_name='Lebanon' data-country_code='961'>Lebanon(+961)</option>
										<option value='266' data-iso_code='LS' data-country_name='Lesotho' data-country_code='266'>Lesotho(+266)</option>
										<option value='231' data-iso_code='LR' data-country_name='Liberia' data-country_code='231'>Liberia(+231)</option>
										<option value='218' data-iso_code='LY' data-country_name='Libya' data-country_code='218'>Libya(+218)</option>
										<option value='423' data-iso_code='LI' data-country_name='Liechtenstein' data-country_code='423'>Liechtenstein(+423)</option>
										<option value='371661' data-iso_code='LT' data-country_name='Lithuania' data-country_code='371661'>Lithuania(+371661)</option>
										<option value='370' data-iso_code='LT' data-country_name='Lithuania' data-country_code='370'>Lithuania(+370)</option>
										<option value='352' data-iso_code='LU' data-country_name='Luxembourg' data-country_code='352'>Luxembourg(+352)</option>
										<option value='853' data-iso_code='MO' data-country_name='Macau' data-country_code='853'>Macau(+853)</option>
										<option value='389' data-iso_code='MK' data-country_name='Macedonia' data-country_code='389'>Macedonia(+389)</option>
										<option value='261' data-iso_code='MG' data-country_name='Madagascar' data-country_code='261'>Madagascar(+261)</option>
										<option value='265' data-iso_code='MW' data-country_name='Malawi' data-country_code='265'>Malawi(+265)</option>
										<option value='60' data-iso_code='MY' data-country_name='Malaysia' data-country_code='60'>Malaysia(+60)</option>
										<option value='960' data-iso_code='MV' data-country_name='Maldives' data-country_code='960'>Maldives(+960)</option>
										<option value='223' data-iso_code='ML' data-country_name='Mali' data-country_code='223'>Mali(+223)</option>
										<option value='356' data-iso_code='MT' data-country_name='Malta' data-country_code='356'>Malta(+356)</option>
										<option value='1670' data-iso_code='MP' data-country_name='Mariana Islands' data-country_code='1670'>Mariana Islands(+1670)</option>
										<option value='692' data-iso_code='MH' data-country_name='Marshall Islands' data-country_code='692'>Marshall Islands(+692)</option>
										<option value='596' data-iso_code='MQ' data-country_name='Martinique' data-country_code='596'>Martinique(+596)</option>
										<option value='222' data-iso_code='MR' data-country_name='Mauritania' data-country_code='222'>Mauritania(+222)</option>
										<option value='230' data-iso_code='MU' data-country_name='Mauritius' data-country_code='230'>Mauritius(+230)</option>
										<option value='262269' data-iso_code='YT' data-country_name='Mayotte Island' data-country_code='262269'>Mayotte Island(+262269)</option>
										<option value='262639' data-iso_code='YT' data-country_name='Mayotte Island' data-country_code='262639'>Mayotte Island(+262639)</option>
										<option value='52' data-iso_code='MX' data-country_name='Mexico' data-country_code='52'>Mexico(+52)</option>
										<option value='691' data-iso_code='FM' data-country_name='Micronesia' data-country_code='691'>Micronesia(+691)</option>
										<option value='373' data-iso_code='MD' data-country_name='Moldova' data-country_code='373'>Moldova(+373)</option>
										<option value='377' data-iso_code='MC' data-country_name='Monaco' data-country_code='377'>Monaco(+377)</option>
										<option value='976' data-iso_code='MN' data-country_name='Mongolia' data-country_code='976'>Mongolia(+976)</option>
										<option value='382' data-iso_code='ME' data-country_name='Montenegro' data-country_code='382'>Montenegro(+382)</option>
										<option value='1664' data-iso_code='MS' data-country_name='Montserrat' data-country_code='1664'>Montserrat(+1664)</option>
										<option value='212' data-iso_code='MA' data-country_name='Morocco' data-country_code='212'>Morocco(+212)</option>
										<option value='258' data-iso_code='MZ' data-country_name='Mozambique' data-country_code='258'>Mozambique(+258)</option>
										<option value='95' data-iso_code='MM' data-country_name='Myanmar' data-country_code='95'>Myanmar(+95)</option>
										<option value='264' data-iso_code='NA' data-country_name='Namibia' data-country_code='264'>Namibia(+264)</option>
										<option value='674' data-iso_code='NR' data-country_name='Nauru' data-country_code='674'>Nauru(+674)</option>
										<option value='977' data-iso_code='NP' data-country_name='Nepal' data-country_code='977'>Nepal(+977)</option>
										<option value='31' data-iso_code='NL' data-country_name='Netherlands' data-country_code='31'>Netherlands(+31)</option>
										<option value='599' data-iso_code='AN' data-country_name='Netherlands Antilles' data-country_code='599'>Netherlands Antilles(+599)</option>
										<option value='687' data-iso_code='NC' data-country_name='New Caledonia' data-country_code='687'>New Caledonia(+687)</option>
										<option value='64' data-iso_code='NZ' data-country_name='New Zealand' data-country_code='64'>New Zealand(+64)</option>
										<option value='505' data-iso_code='NI' data-country_name='Nicaragua' data-country_code='505'>Nicaragua(+505)</option>
										<option value='227' data-iso_code='NE' data-country_name='Niger' data-country_code='227'>Niger(+227)</option>
										<option value='234' data-iso_code='NG' data-country_name='Nigeria' data-country_code='234'>Nigeria(+234)</option>
										<option value='683' data-iso_code='NU' data-country_name='Niue' data-country_code='683'>Niue(+683)</option>
										<option value='6723' data-iso_code='NF' data-country_name='Norfolk Island' data-country_code='6723'>Norfolk Island(+6723)</option>
										<option value='850' data-iso_code='KP' data-country_name='North Korea' data-country_code='850'>North Korea(+850)</option>
										<option value='47' data-iso_code='NO' data-country_name='Norway' data-country_code='47'>Norway(+47)</option>
										<option value='968' data-iso_code='OM' data-country_name='Oman' data-country_code='968'>Oman(+968)</option>
										<option value='92' data-iso_code='PK' data-country_name='Pakistan' data-country_code='92'>Pakistan(+92)</option>
										<option value='680' data-iso_code='PW' data-country_name='Palau' data-country_code='680'>Palau(+680)</option>
										<option value='97222' data-iso_code='PS' data-country_name='Palestine' data-country_code='97222'>Palestine(+97222)</option>
										<option value='97292' data-iso_code='PS' data-country_name='Palestine' data-country_code='97292'>Palestine(+97292)</option>
										<option value='97256' data-iso_code='PS' data-country_name='Palestine' data-country_code='97256'>Palestine(+97256)</option>
										<option value='97282' data-iso_code='PS' data-country_name='Palestine' data-country_code='97282'>Palestine(+97282)</option>
										<option value='97259' data-iso_code='PS' data-country_name='Palestine' data-country_code='97259'>Palestine(+97259)</option>
										<option value='97242' data-iso_code='PS' data-country_name='Palestine' data-country_code='97242'>Palestine(+97242)</option>
										<option value='970' data-iso_code='PS' data-country_name='Palestine' data-country_code='970'>Palestine(+970)</option>
										<option value='507' data-iso_code='PA' data-country_name='Panama' data-country_code='507'>Panama(+507)</option>
										<option value='675' data-iso_code='PG' data-country_name='Papua New Guinea' data-country_code='675'>Papua New Guinea(+675)</option>
										<option value='595' data-iso_code='PY' data-country_name='Paraguay' data-country_code='595'>Paraguay(+595)</option>
										<option value='51' data-iso_code='PE' data-country_name='Peru' data-country_code='51'>Peru(+51)</option>
										<option value='63' data-iso_code='PH' data-country_name='Philippines' data-country_code='63'>Philippines(+63)</option>
										<option value='48' data-iso_code='PL' data-country_name='Poland' data-country_code='48'>Poland(+48)</option>
										<option value='351' data-iso_code='PT' data-country_name='Portugal' data-country_code='351'>Portugal(+351)</option>
										<option value='1939' data-iso_code='PR' data-country_name='Puerto Rico' data-country_code='1939'>Puerto Rico(+1939)</option>
										<option value='1787' data-iso_code='PR' data-country_name='Puerto Rico' data-country_code='1787'>Puerto Rico(+1787)</option>
										<option value='974' data-iso_code='QA' data-country_name='Qatar' data-country_code='974'>Qatar(+974)</option>
										<option value='262' data-iso_code='RE' data-country_name='Reunion Island' data-country_code='262'>Reunion Island(+262)</option>
										<option value='40' data-iso_code='RO' data-country_name='Romania' data-country_code='40'>Romania(+40)</option>
										<option value='7' data-iso_code='RU' data-country_name='Russia' data-country_code='7'>Russia(+7)</option>
										<option value='250' data-iso_code='RW' data-country_name='Rwanda' data-country_code='250'>Rwanda(+250)</option>
										<option value='1869' data-iso_code='KN' data-country_name='Saint Kitts and Nevis' data-country_code='1869'>Saint Kitts and Nevis(+1869)</option>
										<option value='1758' data-iso_code='LC' data-country_name='Saint Lucia' data-country_code='1758'>Saint Lucia(+1758)</option>
										<option value='1784' data-iso_code='VC' data-country_name='Saint Vincent and the Grenadines' data-country_code='1784'>Saint Vincent and the Grenadines(+1784)</option>
										<option value='685' data-iso_code='WS' data-country_name='Samoa' data-country_code='685'>Samoa(+685)</option>
										<option value='378' data-iso_code='SM' data-country_name='San Marino' data-country_code='378'>San Marino(+378)</option>
										<option value='239' data-iso_code='ST' data-country_name='Sao Tome and Principe' data-country_code='239'>Sao Tome and Principe(+239)</option>
										<option value='966' data-iso_code='SA' data-country_name='Saudi Arabia' data-country_code='966'>Saudi Arabia(+966)</option>
										<option value='221' data-iso_code='SN' data-country_name='Senegal' data-country_code='221'>Senegal(+221)</option>
										<option value='381' data-iso_code='RS' data-country_name='Serbia' data-country_code='381'>Serbia(+381)</option>
										<option value='248' data-iso_code='SC' data-country_name='Seychelles' data-country_code='248'>Seychelles(+248)</option>
										<option value='232' data-iso_code='SL' data-country_name='Sierra Leone' data-country_code='232'>Sierra Leone(+232)</option>
										<option value='65' data-iso_code='SG' data-country_name='Singapore' data-country_code='65'>Singapore(+65)</option>
										<option value='1721' data-iso_code='SX' data-country_name='Sint Maarten' data-country_code='1721'>Sint Maarten(+1721)</option>
										<option value='5995' data-iso_code='SX' data-country_name='Sint Maarten' data-country_code='5995'>Sint Maarten(+5995)</option>
										<option value='421' data-iso_code='SK' data-country_name='Slovakia' data-country_code='421'>Slovakia(+421)</option>
										<option value='386' data-iso_code='SI' data-country_name='Slovenia' data-country_code='386'>Slovenia(+386)</option>
										<option value='677' data-iso_code='SB' data-country_name='Solomon Islands' data-country_code='677'>Solomon Islands(+677)</option>
										<option value='252' data-iso_code='SO' data-country_name='Somalia' data-country_code='252'>Somalia(+252)</option>
										<option value='27' data-iso_code='ZA' data-country_name='South Africa' data-country_code='27'>South Africa(+27)</option>
										<option value='82' data-iso_code='KR' data-country_name='South Korea' data-country_code='82'>South Korea(+82)</option>
										<option value='211' data-iso_code='SS' data-country_name='South Sudan' data-country_code='211'>South Sudan(+211)</option>
										<option value='34' data-iso_code='ES' data-country_name='Spain' data-country_code='34'>Spain(+34)</option>
										<option value='94' data-iso_code='LK' data-country_name='Sri Lanka' data-country_code='94'>Sri Lanka(+94)</option>
										<option value='290' data-iso_code='SH' data-country_name='St Helena' data-country_code='290'>St Helena(+290)</option>
										<option value='508' data-iso_code='PM' data-country_name='St Pierre and Miquelon' data-country_code='508'>St Pierre and Miquelon(+508)</option>
										<option value='249' data-iso_code='SD' data-country_name='Sudan' data-country_code='249'>Sudan(+249)</option>
										<option value='597' data-iso_code='SR' data-country_name='Suriname' data-country_code='597'>Suriname(+597)</option>
										<option value='268' data-iso_code='SZ' data-country_name='Swaziland' data-country_code='268'>Swaziland(+268)</option>
										<option value='46' data-iso_code='SE' data-country_name='Sweden' data-country_code='46'>Sweden(+46)</option>
										<option value='41' data-iso_code='CH' data-country_name='Switzerland' data-country_code='41'>Switzerland(+41)</option>
										<option value='963' data-iso_code='SY' data-country_name='Syria' data-country_code='963'>Syria(+963)</option>
										<option value='886' data-iso_code='TW' data-country_name='Taiwan' data-country_code='886'>Taiwan(+886)</option>
										<option value='992' data-iso_code='TJ' data-country_name='Tajikistan' data-country_code='992'>Tajikistan(+992)</option>
										<option value='255' data-iso_code='TZ' data-country_name='Tanzania' data-country_code='255'>Tanzania(+255)</option>
										<option value='66' data-iso_code='TH' data-country_name='Thailand' data-country_code='66'>Thailand(+66)</option>
										<option value='228' data-iso_code='TG' data-country_name='Togo' data-country_code='228'>Togo(+228)</option>
										<option value='690' data-iso_code='TK' data-country_name='Tokelau' data-country_code='690'>Tokelau(+690)</option>
										<option value='676' data-iso_code='TO' data-country_name='Tonga' data-country_code='676'>Tonga(+676)</option>
										<option value='1868' data-iso_code='TT' data-country_name='Trinidad and Tobago' data-country_code='1868'>Trinidad and Tobago(+1868)</option>
										<option value='216' data-iso_code='TN' data-country_name='Tunisia' data-country_code='216'>Tunisia(+216)</option>
										<option value='90' data-iso_code='TR' data-country_name='Turkey' data-country_code='90'>Turkey(+90)</option>
										<option value='993' data-iso_code='TM' data-country_name='Turkmenistan' data-country_code='993'>Turkmenistan(+993)</option>
										<option value='1649' data-iso_code='TC' data-country_name='Turks and Caicos Islands' data-country_code='1649'>Turks and Caicos Islands(+1649)</option>
										<option value='688' data-iso_code='TV' data-country_name='Tuvalu' data-country_code='688'>Tuvalu(+688)</option>
										<option value='256' data-iso_code='UG' data-country_name='Uganda' data-country_code='256'>Uganda(+256)</option>
										<option value='380' data-iso_code='UA' data-country_name='Ukraine' data-country_code='380'>Ukraine(+380)</option>
										<option value='971' data-iso_code='AE' data-country_name='United Arab Emirates' data-country_code='971'>United Arab Emirates(+971)</option>
										<option value='44' data-iso_code='GB' data-country_name='United Kingdom' data-country_code='44'>United Kingdom(+44)</option>
										<option value='1' data-iso_code='US' data-country_name='United States' data-country_code='1'>United States(+1)</option>
										<option value='598' data-iso_code='UY' data-country_name='Uruguay' data-country_code='598'>Uruguay(+598)</option>
										<option value='1340' data-iso_code='VI' data-country_name='US Virgin Islands' data-country_code='1340'>US Virgin Islands(+1340)</option>
										<option value='998' data-iso_code='UZ' data-country_name='Uzbekistan' data-country_code='998'>Uzbekistan(+998)</option>
										<option value='678' data-iso_code='VU' data-country_name='Vanuatu' data-country_code='678'>Vanuatu(+678)</option>
										<option value='379' data-iso_code='VA' data-country_name='Vatican City' data-country_code='379'>Vatican City(+379)</option>
										<option value='58' data-iso_code='VE' data-country_name='Venezuela' data-country_code='58'>Venezuela(+58)</option>
										<option value='84' data-iso_code='VN' data-country_name='Vietnam' data-country_code='84'>Vietnam(+84)</option>
										<option value='681' data-iso_code='WF' data-country_name='Wallis and Futuna Islands' data-country_code='681'>Wallis and Futuna Islands(+681)</option>
										<option value='967' data-iso_code='YE' data-country_name='Yemen' data-country_code='967'>Yemen(+967)</option>
										<option value='260' data-iso_code='ZM' data-country_name='Zambia' data-country_code='260'>Zambia(+260)</option>
										<option value='263' data-iso_code='ZW' data-country_name='Zimbabwe' data-country_code='263'>Zimbabwe(+263)</option>
                                </select>
                        </label>
                    <label class="item item-input reginput" style="rgba(255, 255, 255, 0);padding: 0 0 0 0 !important;height:60px">
                        
                        <input id="mobile_number" type="tel" placeholder="" class="reginput" ng-model="phoneinput" ng-change="onTelChange()">
                    </label>
                    <h2 style="text-align: center;color:#fff" id="labelReg2" class="regtext"></h2>
                 </div>
            </div>
        </div>        
    </ion-content>
    <ion-footer-bar style="background-color:#387EF5; color:#fff; height:80px">
        <button ui-sref="registration3" style="border-radius:10px 10px 10px 10px;" class="button button-light button-large button-block button-outline icon-right ion-chevron-right" id="labelnext3"></button>
    </ion-footer-bar>
</ion-view>