<ion-view title="Registration" id="registration5" class=" " hide-nav-bar="true" hide-back-button="true" style="background-color:#31abdf; color:#fff;">
    <ion-content padding="true">
        <div class="row row-center">
            <div class="col">
                <div class="text-center">
                    <img src="img/whale_3.gif" width="80%"><br><br>
                    
                    <h2 style="text-align: center;color:#fff" id="labelReg5" class="regtext"></h2>
                 </div>
            </div>
        </div>        
    </ion-content>
    <ion-footer-bar style="background-color:#31abdf; color:#fff; height:80px">
        <button ui-sref="registration6" style="border-radius:10px 10px 10px 10px;" class="button button-light button-large button-block button-outline icon-right ion-chevron-right" id="labelnext5"></button>
    </ion-footer-bar>
</ion-view>